body{
  background: #0E131A;
  padding-bottom: 25px;
}

#main-container{
    position: relative;
    top: 0; left: 0;
    width: 100%;
    background: #0E131A;
    padding-bottom: 25px;
}

#cgu-container{
  position: relative;
  width: 80%;
  top: 85px;
  background: #191F28;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 25px;
}

    #cgu-container p, #cgu-container h2, #cgu-container h3{
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      color: rgba(255,255,255,0.8);
    }
