.highlight{
  background: #c1d9e3;
  transition: .4s all;
}

#main-container{
  width: 100%; height: 100%;
}

#nothing-here-container{
  margin-top: 25px;
  font-size: 2em;
}

#dashboard-container{
  width: 100%; height: 100%;
  background: #eee;
}

#chart-container{
  width: 100%;
  height: 35%;
}

#freq-chart{
  width: 100%; height: 100%;
}

#search-bar-container{
  width: 100%;
  position: relative;
}

#search-bar{
  width: 100%;
  margin-bottom: 25px;
  margin-left: 0 !important;
  padding: 10px;
}

#search-button{
  color: white;
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 5px 8px;
  cursor: pointer;
  background: #39c3dd;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#search-button:hover{
  /* background: #88d7e6; */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#users-listing-container{
  width: 100%;
  /* height: 100%; */
}

#users-listing{
  width: 95%;
  /* height: 100%; */
  background: white;
  border-radius: 4px;
  padding: 5px 0;
  padding-top: 0 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input{
  border: none;
  background: none;
  font-size: 1.2em;
  /* text-align: center; */
  border-bottom: 1px solid #294992;
  color: rgba(0, 0, 0, 0.6);
  padding: 4px 0;
  margin-right: 25px;
  transition: .2s all;
}

input:first-of-type{
  margin-left:10px;
}

#add-user-form{
  position: relative;
  width: 100%;
  justify-content: flex-start;
}

#users-listing-header{
  justify-content: space-around;
  padding-right: 15px;
  color: white;
}

#user-add-button{
  position: absolute;
  right: 0;
  background: #39c3dd;
  padding: 10px;
  cursor: pointer;
  border-radius: 25px;
  align-self: flex-end !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#user-add-button:hover{
  /* background: #88d7e6; */
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.user-row-dummy{
  display: none;
}

th{
  padding: 12px 10px;

}

td{

}

th, td{
  padding-left: 10px !important;
}

#listing-table{
  width: 100%;
}

.user-row{
  transition: .4s all;
}

td[contenteditable="true"]{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

td[contenteditable="true"]:focus{
  text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  /* text-shadow: 6px 6px 4px rgba(0,0,0,0.3); */
  background: rgba(255,255,255,0.5);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

td[contenteditable="true"]:hover{
  text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  /* text-shadow: 6px 6px 4px rgba(0,0,0,0.3); */
  /* background: rgba(255,255,255,0.5); */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.user-row:hover{
  background: #c1d9e3 !important;
}

.user-row td{
  padding: 15px 0;
}

.user-row:nth-child(even){
  background: #d8d8d8;
}

.reset-cell{
  color: #2265b0;
  cursor: pointer;
}

.reset-cell:hover{
  text-decoration: underline;
}

.user-action-icon{
  position: relative;
  float: right;
  right: 15px;
  cursor: pointer;
}

.user-action-email{
  color: #ed9b21;
}
.user-action-delete{
  color: #ec2323;
}

.plus-icon{
  width: 20px; height: 20px;
}
