#main-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: #10131d;
    /* background: #121624; */
    overflow: hidden;
}

#logo-container{
  position: relative;
}

#logo-container img{
  position: relative;
}

#ws-logo{
  width: auto !important; height: 175px !important;
  margin: 3px 0 25px 0;
}

#login-form-container{
  background: #0f192f;
  /* background: #142038; */
  padding: 25px 50px 50px 50px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#login-title{
  position: absolute;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  bottom: 0px;
  text-shadow: 6px 6px 4px rgba(0,0,0,0.3);
  /* text-shadow: -10px 10px 0px rgba(0,0,0,0.3),
                 -20px 20px 0px rgba(0,0,0,0.3),
                 -30px 30px 0px rgba(0,0,0,0.3); */
  color: rgba(240, 240, 240, 1);
}

.text-input{
  border: none;
  background: none;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid #294992;
  color: rgba(255, 255, 255, 0.6);
  padding: 4px 0;
  transition: .2s all;
}
.text-input-container:not(:first-of-type){
  margin: 15px 0;
}
#remember-me-label{
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.6);
}
#login-button-container{
  position: relative;
}

.form-button{
  position: relative;
  border: none;
  background: none;
  font-size: 1.2em;
  padding: 10px 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: .4s all;
}

.form-button:hover{
  text-shadow: 6px 6px 4px rgba(0,0,0,0.3);
  /* text-shadow: -3px 3px 0px rgba(0,0,0,0.3),
                 -5px 5px 0px rgba(0,0,0,0.3),
                 -8px 8px 0px rgba(0,0,0,0.3); */
  transition: .4s all;
}

.form-button:hover + .button-underline{
  width: 35%;
  transition: .4s all;
}

        .button-underline{
          position: absolute;
          bottom: 0;
          height: 1px; width: 0;
          background: rgba(255,255,255,0.8);
          transition: .4s all;
        }

#forgot-password-container{
  margin: 10px 0 0 0;
  color: rgba(255, 255, 255, 0.8);
}
        #forgot-password-text{
          font-family: 'Lato', sans-serif;
          font-size: 0.8em;
          font-weight: 300;
          text-align: center;
          color: rgba(255, 255, 255, 0.6);
          transition: .2s all;
        }
