body{
  background: #0E131A;
}

#main-container{
    /*position: absolute;
    top: 0; left: 0;*/
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: #0E131A;
}
    #main-row-container{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    #settings-form-container{
      margin-top: 25px;
    }

  #qrcode-img-container{
    width: 175px;
    padding: 25px;
    background: #191F28;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

    #qrcode-img{
      width: 100%;
      border-radius: 4px;
    }

    #settings-profile{

    }
    #settings-password{
      margin-top: 25px;
    }
    .settings-tile{
      margin: 25px 0 50px 0;
      background: #191F28;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .settings-tile-title-container{
      padding: 10px 15px;
      align-self: flex-start;
    }
    .settings-tile-title{
      color: rgba(255,255,255,0.7);
      font-size: 0.9em;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
    input{
      background: none;
      border: none;
      color: rgba(255,255,255,0.9);
      font-size: 1.5em;
      font-weight: 300;
      width: 40%;
      transition: .2s all;
    }
        input:hover{
          background: rgba(255, 255, 255, 0.5);
          transform: translateX(15px);
          transition: .2s all;
        }
        input:focus{
          background: rgba(255, 255, 255, 0.5);
          transform: translateX(15px);
          transition: .2s all;
        }
    .settings-update-button{
      position: relative;
      top: 25px;
      background: #191F28;
      padding: 10px 15px;
      border: none;
      border-radius: 2px;
      border: 5px solid #0E131A;
      cursor: pointer;
      color: rgba(255,255,255,0.9);
      transition: .2s all;
      transform: scale(1);
      transition: .2s all;
    }

    .settings-update-button:active{
      transform: scale(0.9);
      transition: .2s all;
    }
