body{
  background: #0E131A;
}
.coming-soon-container{
  margin-top: 25px;
}

.coming-soon{
  font-size: 1.5em;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,0.5);
}

#main-container{
    /*position: absolute;
    top: 0; left: 0;*/
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: #0E131A;
}
    #main-row-container{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
        .tile-header-container{
            width: 100%;
            justify-content: flex-start;
        }
        #tile-header{
          height: 10%;
            font-size: 2em;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            color: rgba(255,255,255,0.5);
            position: relative;
        }
        #tiles-row-container{
            height: 100%;
        }
        #tiles-row-subcontainer{
          position: relative;
          justify-content: flex-start;
          height: 43%;
        }
                  .tile-container{
                      position: relative;
                      height: calc(50vh -  50px);
                  }
                        .tile:hover {
                          /*transform: translateY(-10px);
                          box-shadow: 0 10px 50px -12px rgba(0,0,0,0.5);*/
                          /*
                          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                          */
                        }
                            .tile{
                              position: relative;
                              height: 100%;
                              background: #191F28;
                              border-radius: 2px;
                              box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                              transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                              overflow: hidden;
                            }
                                .tile-rent-container{
                                  height: 90%;
                                  overflow-y: auto;
                                }
                                .tile-link{
                                  font-size: .8em;
                                  font-weight: 500;
                                  font-family: 'Roboto', sans-serif;
                                  text-decoration: underline !important;
                                  color: rgba(255,255,255,0.3) !important;
                                }
                                .tile-title{
                                    font-size: 1.2em;
                                    font-weight: 300;
                                    font-family: 'Roboto', sans-serif;
                                    color: rgba(255,255,255,0.8);
                                    margin-bottom: 0 !important;
                                }
                                .tile-text{
                                  font-weight: 300;
                                  font-family: 'Roboto', sans-serif;
                                  color: rgba(255,255,255,0.8);
                                }
                                .user-tile-image-container{
                                  max-width: 200px; max-height: 200px;
                                  background: #181C23;
                                  border-radius: 50%;
                                  padding: 15px;
                                  margin-bottom: 25px;
                                }
                                    .user-tile-image{
                                      width: 70%; height: auto;
                                    }
                                .user-image-caption-container{

                                }
                                    .user-image-caption-name{
                                      font-weight: 300;
                                      text-transform: uppercase;
                                    }
                                    .user-image-caption-email{
                                      font-weight: 300;
                                      font-size: 0.8em;
                                      color: rgba(255,255,255,0.5);
                                    }
.sub-tile-container{
    position: absolute;
    width: 100%; height: 100%;
}
.tile-container{
    top: 0;
    opacity: 1;
    transition: .3s all;
}

.events-container{
  justify-content: space-around;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,0.8);
  background: rgba(46, 47, 60, 0.5);
  width: 95%;
  margin: 5px 10px;
  padding: 3px 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .events-text-container{
      padding: 5px 0;
      justify-content: space-around;
      align-items: flex-start;
      width: 80%;
    }

    .events-text-container *{
      margin: 0;
      margin-left: 10px;
      font-weight: 300;
      font-size: 1em;
    }

    .events-text-order{
      font-weight: bold;
      margin-bottom: 2px;
    }

    .events-text-date{
      font-size: .9em;
    }

    .events-look-container{
      width: 20%;
    }

.events-top-container{
  justify-content: space-between;
  align-content: center;
  padding: 8px 10px;
  width: 100%;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

#freq-chart{
  width: 100%; height: 100%;
}

.membership-1{
    background: linear-gradient(45deg ,#ee8695, #fcab86) !important;
}

.membership-2{
    background: linear-gradient(45deg ,#3c77a4, #53b9b4) !important;
}

.membership-3{
    background: linear-gradient(45deg ,#5310a4, #e589b6) !important;
}

.new-member{
  background: linear-gradient(45deg ,#0a6c4d, #e77607) !important;
}

.time-left-container{
  height: 100%; width: 100%;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,0.8);
  justify-content: space-around;
}

.time-left-title{
  color: inherit;
  font-weight: 300;
}

.time-left-caption{
  color: inherit;
  font-weight: 300;
}

.time-left{
  color: inherit;
  font-size: 6em;
}

#membership-renew-container{
  width: 100%;
}

#membership-renew-button{
  width: 115px; height: 45px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
}

@media only screen and (max-height : 675px) {
  .user-tile-image-container{
    max-width: 100px !important;
    max-height: 100px !important;
  }
}

@media only screen and (max-height : 750px) {
  .time-left{
    font-size: 3em !important;
  }

  .time-left-caption{
    font-size: 1em !important;
  }

  #membership-renew-button{
    width: 75px; height: 35px;
  }

  #membership-renew-button{
    font-size: .7em !important;
  }
}

@media only screen and (min-height : 400px) and (max-height : 650px) {
  .time-left-title{
    display: none;
  }
}

@media only screen and (max-width : 1150px) {
    #tiles-row-subcontainer{
      left: 0 !important;
    }
}
