#header-container{
        position: absolute;
        margin: 25px 0 0 0;
        width: 100%;
        font-family: 'Raleway', sans-serif;
        color: rgba(255,255,255,0.8);
        z-index: 99;
}
        #header-logo-container{
                position: relative;
                width: 50px; height: auto;
        }
                #header-logo{
                        width: 100%; height: auto;
                }
        #header-menu{
                position: relative;
                width: 100%;
                list-style: none;
                flex-wrap: wrap !important;
        }
                .header-menu-title-container{
                  position: relative;
                }
                .header-menu-title-container:not(:first-of-type){
                        margin-left: 25px;
                }
                .header-menu-title{
                        position: relative;
                        color: rgba(255,255,255,0.8);
                        overflow: hidden;
                        padding: 0 0 5px 0;
                }
                .header-menu-title:hover > .header-underline{
                  width: 35%;
                  transition: .4s all;
                }
                        .header-underline{
                          position: absolute;
                          bottom: 0;
                          height: 1px; width: 0%;
                          background: rgba(255,255,255,0.8);
                          transition: .4s all;
                        }
.underline-first-step{
  left: 0px;
  transition: .3s all;
}

@media only screen and (max-width : 480px) {
  #header-container{
          margin: 15px 0 0 0;
  }
}
