#main-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: #030712;
    overflow: hidden;
}

#cgu-link{
  text-decoration: underline !important;
  transition: .2s all;
}

#cgu-link:hover{
  transition: .2s all;
  color: aliceblue !important;
}

#main-forms-container{
    /*align-items: flex-start;*/
}

#forms-container{
  overflow: hidden;
}
    #register-form-container{
      left: 123px;
    }
    .form-container{
      position: relative;
      width: 100%; height: 100%;
      align-self: baseline;
    }
        #login-form{
          position: relative;
          transition: .5s all !important;
          transform: translateX(0);
          left: 150px;
        }
        #register-form{
          position: relative;
          transition: .5s all !important;
          transform: translateX(350px);
        }
            #form-title-container{
              position: relative;
              height: 100px;
            }
                .form-title{
                    position: relative;
                    font-family: 'Lato', 'MoonLight', sans-serif;
                    color: rgba(255, 255, 255, 0.6);
                    font-weight: 200;
                    font-size: 1.5em;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    cursor: pointer;
                    transition: .5s all;
                }
                #form-title-separator{

                  width: 1px; height: 40px;
                  background: rgba(255,255,255,0.2);
                  margin: 0 15px 0 10px;
                }
                .selected-form-title{
                  letter-spacing: 10px;
                  font-weight: bolder;
                  transition: .5s all;
                }
            .text-input{
              border: none;
              background: none;
              font-size: 1.2em;
              text-align: center;
              border-bottom: 1px solid #294992;
              color: rgba(255, 255, 255, 0.6);
              padding: 4px 0;
              transition: .2s all;
            }
            .text-input-container:not(:first-of-type){
              margin: 15px 0;
            }
            #login-email-container{

            }
            #login-password-container{

            }

            #remember-me-label{
              margin-top: 15px;
              color: rgba(255, 255, 255, 0.6);
            }

            #login-button-container{
              position: relative;
            }
                .form-button{
                  position: relative;
                  border: none;
                  background: none;
                  font-size: 1.2em;
                  padding: 10px 15px;
                  text-align: center;
                  color: rgba(255, 255, 255, 0.6);
                  cursor: pointer;
                }
                #login-button{

                }
                .form-button:hover + .button-underline{
                  width: 35%;
                  transition: .4s all;
                }
                        .button-underline{
                          position: absolute;
                          bottom: 0;
                          height: 1px; width: 0;
                          background: rgba(255,255,255,0.8);
                          transition: .4s all;
                        }
                #forgot-password-container{
                  margin: 10px 0 0 0;
                  color: rgba(255, 255, 255, 0.8);
                }
                        #forgot-password-text{
                          font-family: 'Lato', sans-serif;
                          font-size: 0.8em;
                          font-weight: 300;
                          text-align: center;
                          color: rgba(255, 255, 255, 0.6);
                          transition: .2s all;
                        }
                  #cgu-label{
                    font-family: 'Lato', sans-serif;
                    font-size: 1em;
                    font-weight: 300;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.6);
                    margin: 0 0 0 5px;
                    transition: .2s all;
                  }
                  #register-phone-container{
                    margin-bottom: 15px;
                  }
                  #register-button-container{
                    margin: 15px 0 0 0;
                  }
