#main-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    /*background: linear-gradient(#23074d, #cc5333);*/
    background: #0E131A;
    /*background: url("../../img/bg/deep-space.jpeg") no-repeat center;*/
    background-size: cover;
    overflow: hidden;
}

input{
  margin-bottom: 15px;
}

#fp-text-container{
  position: relative;
  /* background: #191F28; */
  border-radius: 2px;
  padding: 10px;
  width: 40%;
  z-index: 9;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

#fp-title{
  align-self: flex-start;
  font-weight:normal;
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.fp-input{
  width: 100%;
  border: none;
  background: none;
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid #294992;
  color: rgba(255, 255, 255, 0.6);
  padding: 4px 0;
  transition: .2s all;
  align-self: flex-start;
}

#fp-button-container{
  position: relative;
}

.fp-button{
  position: relative;
  border: none;
  background: none;
  font-size: 1.2em;
  padding: 10px 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.fp-button:hover + .button-underline{
  width: 35%;
  transition: .4s all;
}
        .button-underline{
          position: absolute;
          bottom: 0;
          height: 1px; width: 0;
          background: rgba(255,255,255,0.8);
          transition: .4s all;
        }
