* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #030712;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

ul{
  margin-bottom: 0 !important;
}

.hidden{
  display: none !important;
}

.flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.clickable{
  outline: none;
  cursor:pointer;
  transform: scale(1);
  transition: .2s all;
}

.clickable:active{
  transform: scale(.9);
  transition: .2s all;
}

#data{
  display: none;
}

.nothing-found{
  margin-top: 80%;
  width: 100%;
}

#nothing-found-msg{
  color: rgba(255,255,255,0.6);
  font-size: 3em;
}

@keyframes rotate-space {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#site-header-container{
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
}

.header-site-name{
  text-transform: uppercase;
  font-size: 1.1em;
  color: rgba(255,255,255,0.4);
}

.site-name-selected{
  color: rgba(255,255,255,0.8);
}

#loading-placeholder{
  position: fixed;
  width: 110vw; height: 100vh;
  left: -100px;
  margin: 0; padding: 0;
  background: #191F28;
  opacity: 1;
  z-index: 999;
}

#loading-title{
    position: relative;
    top: -15%;
    font-size: 4em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: rgba(255,255,255,0.5);
    animation: animate-loading-title infinite .7s ease-in-out;
}

@keyframes animate-loading-title {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }

}

.hide-loading{
  opacity: 0 !important;
  transform: translateX(100px);
  transition: .8s all ease;
}

.show-loading{
  opacity: 1 !important;
  transform: translateX(0px) !important;
  transition: .8s all ease;
}

#masking-ball{
  position: fixed !important;
  top: 0; left: 0;
  width: 235vw; height: 235vw;
  max-width: 0; max-height: 0;
  z-index: 999;
  background: #1a2748;
  border-radius: 50%;
}

.expand-ball{
  max-width: 235vw !important; max-height: 235vw !important;
  transition: .5s all;
}

.background-fadable {
  opacity: 0;
  z-index: 0;
  top: 100vh !important;
  transition: .8s all;
}

.background-blur-fadable {
  top: 100vh !important;
  z-index: 0;
  opacity: 0;
}

.background-blur-fade-in {
  opacity: 1;
}

.background-fade-in{
  opacity: 1;
  transition: .8s all;
}

.background-visible{
  z-index: 9;
  top: 0 !important;
}

.background-blur-visible{
  opacity: 1;
  z-index: 8;
  top: 0 !important;
}


/* TEXT */

.fadable-text-container {
  z-index: -1;
  transition: .8s all;
}

.slidable-text-container {
  position: relative;
  top: -50px;
}

.text-container-visible{
  z-index: 998;
}

.text-container-fade-out{
  opacity: 0;
}

.slide-text-container-down {
  top: -100px !important;
  transition: .8s all !important;
}

.slide-text-container-up {
  top: 0 !important;
  transition: .8s all !important;
}

/*
.background-slidable {
  position: absolute;
  top: 0;
  transition: 1.2s all !important;
}

.background-slidable-down {
  top: -100vh !important;
  transition: 1.2s all !important;
}

.background-slidable-up {
  top: 100vh !important;
  transition: 1.2s all !important;
}
*/
.explodable{
  transform: scale(1);
  opacity: 1;
  transition: .2s all;
}

.explode{
  transform: scale(1.1);
  opacity: 0;
  transition: .2s all;
}

#orbits-container{
    position: absolute;
    bottom: 0;
    width: 100vw; height: 100vh;
}
        .orbit{
            position: absolute;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            transform: rotate(0deg);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
        }
        .orbit:first-of-type{
            background: #0B101E;
            height: 125vh; width: 125vh;
        }
        .orbit:nth-child(2){
            background: #0E1629;
            height: 85vh; width: 85vh;
        }
        .orbit:nth-child(3){
            background: #151F35;
            height: 50vh; width: 50vh;
        }
        .orbit:nth-child(4){
            background: #1a2748;
            height: 15vh; width: 15vh;
        }
                .planet{
                  position: absolute;
                  border-radius: 50%;
                  background: #2b3b66;
                  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0);
                }
                #planet-1{
                  top: -8px;
                  width: 16px; height: 16px;
                }
                #planet-2{
                  top: -4px;
                  width: 8px; height: 8px;
                }
                #planet-3{
                  top: -13px;
                  width: 26px; height: 26px;
                }
                #planet-4{
                  top: -18px;
                  width: 36px; height: 36px;
                }

/*@font-face {
  font-family: MoonBold;
  src: url('../../fonts/moon/MoonBold.otf');
}

@font-face {
  font-family: MoonLight;
  src: url('../../fonts/moon/MoonLight.otf');
}*/

@font-face {
  font-family: AkrobatThin;
  src: url('../fonts/akrobat/Akrobat-Thin.otf');
}

@font-face {
  font-family: AkrobatExtraLight;
  src: url('../fonts/akrobat/Akrobat-ExtraLight.otf');
}

@font-face {
  font-family: AkrobatLight;
  src: url('../fonts/akrobat/Akrobat-Light.otf');
}

@font-face {
  font-family: AkrobatRegular;
  src: url('../fonts/akrobat/Akrobat-Regular.otf');
}

@font-face {
  font-family: AkrobatSemiBold;
  src: url('../fonts/akrobat/Akrobat-SemiBold.otf');
}

@font-face {
  font-family: AkrobatBold;
  src: url('../fonts/akrobat/Akrobat-Bold.otf');
}

@font-face {
  font-family: AkrobatBlack;
  src: url('../fonts/akrobat/Akrobat-Black.otf');
}

@media only screen and (max-width : 570px) {
  #site-header-container{
    flex-wrap: wrap !important;
  }

  .header-site-name{
    margin-left: 5px !important;
  }
}
