#plans-card-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    max-height: 100vh;
    flex-wrap: wrap !important;
}
.plan-card:not(:first-child){
    margin-left: 10%;
}
        .plan-card{
            position: relative;
            width: 350px; height: 600px;
            border-radius: 4px;
            background: #191F28;
            /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
            box-shadow: 0 10px 50px -12px rgba(0,0,0,0.5);
            justify-content: flex-start;
        }
            .hourly-rate{
              position: relative;
              margin: 10px 0 20px 0;
            }
                .hourly-rate li{
                  font-family: 'AkrobatLight', sans-serif;
                  letter-spacing: 3px;
                  color: rgba(255,255,255,0.8);
                  font-size: 0.8em;
                  font-weight: 600;
                  padding: 0;
                  text-transform: uppercase;
                  text-shadow: 0px 3px 5px rgba(0,0,0,0.8);
                }
                .plan-card-text{
                    font-family: 'AkrobatLight', sans-serif;
                    letter-spacing: 3px;
                    color: rgba(255,255,255,0.8);
                    text-transform: uppercase;
                    text-shadow: 0px 3px 5px rgba(0,0,0,0.8);
                }
                    .plan-card-text li{
                      font-family: 'Raleway', sans-serif;
                      letter-spacing: 1px;
                      font-weight: 500;
                      text-transform: initial;
                      width: 100%;
                      padding: 10px 15px;
                    }
                .plan-card-title{
                    font-size: 1.5em;
                    margin-top: 25px;
                }
                .plan-card-img{
                    width: 125px; height: 125px;
                    background: #242932;
                    border-radius: 50%;
                    margin-top: 20px;
                }
                        .plan-card-img img{
                            width: 35%; height: auto;
                        }
                .plan-card-caption{
                    margin-top: 10px;
                }
                .bonus-list-container{
                  width: 100%;
                }
                .bonus-list{
                    width: 100%;
                }
                .plan-card-subscribe-button{
                    position: absolute;
                    bottom: 50px;
                    font-family: 'AkrobatBold', sans-serif;
                    letter-spacing: 3px;
                    color: rgba(255,255,255,0.8);
                    text-transform: uppercase;
                    width: 80%; height: 45px;
                    border-radius: 4px;
                    /*background: linear-gradient(to right, #606c88, #3f4c6b);*/
                    background: linear-gradient(to right, #4b6cb7, #182848);
                    cursor: pointer;
                }
                #unlimited-rocket{
                  margin: 30px 0;
                  font-size: 128px;
                }
