#main-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
}
        #scroll-indicator-container{
          position: absolute;
          width: 2px; height: 100%;
          z-index: 999;
          right: 25px;
        }
                #scroll-indicator{
                  position: relative;
                  width: 2px; height: 190px;
                  right: 25px;
                  align-content: space-between !important;
                }
                        .scroll-indicator-bar{
                          width: 10px; height: 18%;
                          opacity: 0.7;
                          margin: 10px 0 0 0;
                          cursor: pointer;
                          border-right: solid 2px #eee;
                          transition: .3s all;
                        }
        .background-container{
          position: absolute;
          left: 0;
          width: 100%; height: 100%;
        }
        #background-step0-container{
            background: url("../../img/bg/open-space.jpg") no-repeat center;
            background-size: cover;
            /*background: linear-gradient(135deg, #000, #003060);*/
        }
        #background-step1-container{
            background: url("../../img/bg/together_dark.jpg") no-repeat center;
            background-size: cover;
        }
        #background-step2-container{
            background: url("../../img/bg/coffee.jpeg") no-repeat center;
            background-size: cover;
        }
        #background-step3-container{
            background: url("../../img/bg/working.jpeg") no-repeat center;
            background-size: cover;
        }
        #background-step4-container{
            background: url("../../img/bg/table.jpeg") no-repeat center;
            background-size: cover;
        }

        #background-blur-step0-container{
            background: url("../../img/bg/open-space_blur.jpg") no-repeat center;
            background-size: cover;
            /*background: linear-gradient(135deg, #000, #003060);*/
        }
        #background-blur-step1-container{
            background: url("../../img/bg/together_dark_blur.jpg") no-repeat center;
            background-size: cover;
        }
        #background-blur-step2-container{
            background: url("../../img/bg/coffee_blur.jpeg") no-repeat center;
            background-size: cover;
        }
        #background-blur-step3-container{
            background: url("../../img/bg/working_blur.jpeg") no-repeat center;
            background-size: cover;
        }
        #background-blur-step4-container{
            background: url("../../img/bg/table_blur.jpeg") no-repeat center;
            background-size: cover;
        }

                    #landing-screen-container{

                    }

                #landing-title-container{

                }
                        #landing-title-logo-container{
                            width: 40%; height: auto;
                        }
                                #landing-title-logo{
                                    width: 50%; height: auto;
                                    margin: 0 0 25px 0;
                                }
                                #landing-title{

                                }
                #continue-button{
                    position: absolute;
                    bottom: 25px;
                    font-size: 1.2em;
                    font-family: 'Raleway', sans-serif;
                    color: rgba(255,255,255,0.8);
                    text-transform: uppercase;
                    text-decoration: none;
                }
        .screen-container{
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100vh;
        }
                .screen-title{

                }
                        .screen-description{

                        }
                .screen-text{
                  position: relative;
                  font-size: 2em;
                  font-family: 'AkrobatThin', sans-serif;
                  letter-spacing: 3px;
                  color: rgba(255,255,255,0.8);
                  text-transform: uppercase;
                  text-shadow: 0px 3px 5px rgba(0,0,0,0.8);
                }
                .screen-subsection{
                    position: relative;
                    font-size: 1.3em !important;
                    text-transform: none !important;
                    font-family: 'AkrobatRegular', sans-serif !important;
                    letter-spacing: normal !important;
                    text-align: center;
                    text-shadow: 0px 3px 10px rgba(0,0,0,0.8) !important;
                }
                .screen-subsection-container{
                    width: 75%;
                }
.selected-scroll-bar{
    height: 100px;
    opacity: 1;
    transition: .3s all;
}

@media only screen and (max-width : 480px) {
  #scroll-indicator-container{
    right: -10px;
  }

  .slidable-text-container{
    top: 0;
  }

  .screen-text{
    text-align: center;
    font-size: 20px;
  }

  .screen-subsection{
    font-size: 1em !important;
  }

  #landing-title-logo{
    width: 100%;
  }

  .text-container{
    width: 86%;
  }

  .screen-subsection-container{
    width: 100%;
  }

  .screen-container{
    justify-content: flex-start;
    margin-top: 25vh;
  }
}
