#card-selection-container{
  opacity: 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  transition: .5s all;
}

#plans-card-container{
  transition: .5s all;
}
.plan-card:not(.solo){
  position: relative;
  left: 0;
  transform: translate3D(0, -100px, 0);
  transition: opacity .8s, transform .8s;
}

.show-card-selection{
  opacity: 1 !important;
  transition: .5s all;
}

.show-cards{
  cursor: pointer;
  opacity: 1 !important;
  transform: translate3D(0, -20px, 0) !important;
  transition: opacity .8s, transform .8s;
}

.fade-out-card{
  opacity: 0 !important;
  transition: .8s all;
}

.show-cards:hover{
  -webkit-filter: drop-shadow(0 0 10px #36b41f /*rgba(54, 180, 31, 0.9)*/);
  filter: drop-shadow(0 0 10px #36b41f /*rgba(54, 180, 31, 0.9)*/);
}

.back-glow-yellow{
  box-shadow: none;
  -webkit-filter: drop-shadow(0 0 10px #fef644 /*rgba(203, 193, 0, 0.7)*/);
  filter: drop-shadow(0 0 10px #fef644 /*rgba(203, 193, 0, 0.7)*/);
}

.back-glow-green{
  -webkit-filter: drop-shadow(0 0 10px #36b41f /*rgba(54, 180, 31, 0.9)*/);
  filter: drop-shadow(0 0 10px #36b41f /*rgba(54, 180, 31, 0.9)*/);
}

.back-glow-0{
  -webkit-filter: drop-shadow(0 0 10px rgb(241, 139, 142));
  filter: drop-shadow(0 0 10px rgb(241, 139, 142));
}

.back-glow-1{
  -webkit-filter: drop-shadow(0 0 10px rgb(44, 111, 129));
  filter: drop-shadow(0 0 10px rgb(44, 111, 129));
}

.back-glow-2{
  -webkit-filter: drop-shadow(0 0 10px rgb(176, 94, 222));
  filter: drop-shadow(0 0 10px rgb(176, 94, 222));
}
