li{
    list-style: none;
}
i{
  margin-right: 10px;
}

.option-button h3{
  margin-bottom: 0 !important;
}

.disabled{
  cursor: not-allowed;
  opacity: .5;
}

.renew-card-price{
  font-size: .6em;
  color: rgba(255, 255, 255, 0.5) !important;
}

#renew-screen-container{
  opacity: 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  justify-content: space-around;
  transition: .5s all;
}


#renew-card-container{
  width: 100%;
  justify-content: space-around;
}

    .renew-card{
      font-size: 2em;
      background: #191f28;
      box-shadow: 0 10px 50px -12px rgba(0,0,0,0.5);
      border-radius: 8px;
      padding: 15px;
      cursor: pointer;
      transition: .5s all;
    }

    #renew-screen-title{
      font-size: 3.5em;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      color: rgba(255,255,255,0.8);
      transition: .5s all;
    }

    .renew-card:hover{
      -webkit-filter: drop-shadow(0 0 10px #36b41f /*rgba(54, 180, 31, 0.9)*/);
      filter: drop-shadow(0 0 10px #36b41f /*rgba(54, 180, 31, 0.9)*/);
      transition: .2s all;
    }

        .renew-card-text{
          font-weight: 300;
          font-family: 'Roboto', sans-serif;
          color: rgba(255,255,255,0.8);
        }

#current-membership-card{
  position: relative;
  width: 350px; height: 600px;
  border-radius: 4px;
  background: #191F28;
  /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
  box-shadow: 0 10px 50px -12px rgba(0,0,0,0.5);
}

#no-membership{
  color: white;
  font-size: 6em;
  width: 100%; height: 100%;
}

#main-container{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  background: #0E131A;
}

 #main-row-container{
    height: 100%; width: 100%;
    align-items: center;
 }

#option-buttons-container{
  height: 100%;
  justify-content: space-around;
}

.option-button{
  border-radius: 4px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: rgba(255,255,255,0.8);
  padding: 10px 20px;
  border: 1px solid rgba(255,255,255,0.2);
}

.option-button h3{
  font-family: inherit;
  font-weight: inherit;
}

.option-button-mem-0{
    background: linear-gradient(45deg ,#ee8695, #fcab86) !important;
}

.option-button-mem-1{
    background: linear-gradient(45deg ,#3c77a4, #53b9b4) !important;
}

.option-button-mem-2{
    background: linear-gradient(45deg ,#5310a4, #e589b6) !important;
}
