body{
  background: #0E131A;
}
#main-container{
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: #0E131A;
}
    #main-row-container{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    .tile-header-container{
        width: 100%;
        justify-content: flex-start;
    }
    #tile-header{ /*Titre "Ticket" en haut de page*/
      height: 10%;
      font-size: 2em;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      color: rgba(255,255,255,0.5);
      position: relative;
    }

    #sort_ticket{
      width: 100%;
    }
    #sort_ticket_status{
      justify-content: space-around;
    }

    #ticket-form-container{ /*descend le formulaire d'ajout des tickets*/
      margin-top: 25px;
    }

      #add-tickets{
        display:none;
      }

    .ticket-tile{ /*dessine la boite*/
      margin: 25px 0 50px 0;
      background: #191F28;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .ticket-tile-title-container{
      padding: 10px 15px;
      align-self: flex-start;
    }
    .ticket-tile-title{
      color: rgba(255,255,255,0.7);
      font-size: 0.9em;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
    input{
      background: none;
      border: none;
      color: rgba(255,255,255,0.9);
      font-size: 1.5em;
      font-weight: 300;
      width: 40%;
      transition: .2s all;
    }
        input:hover{
          background: rgba(255, 255, 255, 0.5);
          transform: translateX(15px);
          transition: .2s all;
        }
        input:focus{
          background: rgba(255, 255, 255, 0.5);
          transform: translateX(15px);
          transition: .2s all;
        }
        .ticket-button{
          position: relative;
          top: 25px;
          background: #191F28;
          padding: 10px 15px;
          border: none;
          border-radius: 2px;
          border: 5px solid #0E131A;
          cursor: pointer;
          color: rgba(255,255,255,0.9);
          transition: .2s all;
          transform: scale(1);
          transition: .2s all;
        }
        .ticket-button:active{
          transform: scale(0.9);
          transition: .2s all;
        }


        textarea {
          resize: none;
        }

      #ticket_description{
        margin-top: 10px;

        color: rgba(255,255,255,0.7);
        font-size: 0.9em;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background-color: transparent;
      }

      select{
        color: rgba(255,255,255,0.7);
        font-size: 0.9em;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px;
        overflow: hidden;
        background: #191F28;
      }

      .isselect{
        background-color: white;
        color: black;
      }

      #ticket_div{
        height: 60vh;
        overflow-y: auto;
        overflow-x: none;
        width: 100%;
      }

      .change_status:hover{
        cursor: pointer;
      }