/* Overriding main.css */
.header-site-name{
  color: rgba(255, 255, 255, 0.4);
}

.site-name-selected{
  color: rgba(255, 255, 255, 0.8);
}

/* End of override */
#planning{

}

#planning-container{
  opacity: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
  transition: .2s all;
}
