#side-menu-container{
    left: 0;
    height: 100%; width: 75px;
    background: #191F28;
    z-index: 997;
    border-bottom-right-radius: 8px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    transition: .2s all;
}
        #logo-container{
          position: relative;
          width: 50px; height: auto;
        }
            #logo-container img{
              width: 100%; height: auto;
            }
        #side-menu-header{
            width: 100%; height: 25%;
        }
        .side-menu-header-text{
          font-size: 1.5em;
          font-weight: 500;
          letter-spacing: 1px;
          font-family: 'AkrobatRegular', sans-serif;
          color: rgba(255,255,255,0.8);
        }
        #username-title{

        }
        #user-surname-title{

        }
        #side-menu-list-container{
            position: relative;
            bottom: 0; left: 0;
            width: 100%; height: 100%;
        }
            #side-menu-list{
              height: 100%;
              justify-content: flex-start;
            }
                .side-menu-tab{
                    position: relative;
                    cursor: pointer;
                    transition: .3s all;
                    width: 100%; height: 75px;
                    /*padding: 15px 0 15px 0;*/
                    overflow: hidden;
                    text-decoration: none;
                    font-size: 1em;
                    font-weight: 500;
                    font-family: 'Lato', sans-serif;
                    color: rgba(255,255,255,0.6);
                    z-index: 8;
                    transition: .3s all;
                }
                [class^="icon-"]{
                  animation: move 3s infinite;
                }
                .side-menu-tab:hover{
                  background: rgba(255,255,255,0.8);
                  color: rgba(0,0,0,0.8);
                  transition: .3s all;
                }
                    .side-menu-link{
                      width: 100%; height: 100%;
                    }
                    #side-menu-disconnect{
                      margin-top: auto !important;
                    }

#side-menu-handle-container{
  display: none;
  position: fixed;
  width: 100%; height: 30px;
  justify-content: flex-start;
  bottom: 0;
  align-content: flex-start;
  z-index: 99;
  transition: .2s all;
}
        .side-menu-handle{
          background: rgba(255,255,255,0.4);
          width: 35vw; height: 3px;
          border-radius: 3px;
          z-index: 997;
        }
        .side-menu-handle:first-of-type{
          margin-bottom: 3px;
        }

.display-bottom-menu{
  transform: translateY(0px) !important;
  transition: .2s all;
}

@media only screen and (max-width : 768px) {
    #side-menu-container{
      transform: translateY(75px);
      height: 75px !important;
      width: 100% !important;
      bottom: 0 !important;
      z-index: 999;
    }

    #loading-placeholder{
      left: -70px !important;
      width: 150vw !important;
    }

    #side-menu-list{
      flex-direction: row !important;
    }

    #side-menu-handle-container{
      display: flex;
    }
}
