li{
    list-style: none;
}
#main-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    /*background: linear-gradient(#23074d, #cc5333);*/
    background: #0E131A;
    overflow: hidden;
}
#ohno-title{
  position: relative;
  margin-top: 20vh;
  font-family: 'AkrobatThin', sans-serif;
  letter-spacing: 3px;
  color: rgba(255,255,255,0.8);
  text-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}
