h3, h4, h6, p{
  color: rgba(255, 255, 255, 0.8);
}

#more-tile-container{
  position: absolute;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.6);
  opacity: 0;
  transition: .2s all;
}

#more-tile{
  position: relative;
  justify-content: space-between;
  width: 50%;
  background: #0E131A;
}

#more-tile-img-container{

}

#more-tile-description{
  align-self: flex-start;
}

#three-viewer{
  position: relative;
  display: none;
  width: 100%;
  z-index: 999;
}

#main-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background: #0E131A;
}
    #site-header-container{
        margin-bottom: 40px;
    }

    .tiles-container{
      margin-top: 100px;
    }
        .site-tile{
          background: #191F28;
          padding: 0 !important;
          border-radius: 4px;
          box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          cursor: pointer;
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .site-tile:hover{
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
         }
         .site-tile:first-of-type{
           width: 50% !important;
         }
            .site-tile-image{
              width: 100%;
            }
            .site-tile-description{
              padding: 0 15px !important;
            }
                .site-tile-description-header-container{
                  /* justify-content: flex-start; */
                  justify-content: space-between;
                  margin-top: 10px;
                }
                .site-tile-description-title{
                  font-size: 1.5em;
                  margin-right: 10px;
                }
                .site-tile-description-price{
                  font-size: 0.8em;
                }
                .site-tile-description-title-caption{
                  font-size: 0.7em;
                }

            .site-tile-more-button-container{
              margin: 10px 15px;
            }
            .more-button{
              color: rgba(255, 255, 255, 0.8);
            }


@media only screen and (max-width : 570px) {

}
