.input-separator{
  color: rgba(255,255,255,0.7);
  font-size: 2em;
  padding : 0 5px;
}
#checkout-form-container{
  position: absolute;
  top: -100px; left: 0;
  opacity: 0;
  width: 100%; height: 100%;
  transform: translateY(0px);
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: -1;
  transition: .7s all;
}

#checkout-form{
  height: 100%;
  justify-content: space-around;
}

#checkout-form-padding{
  width: 100%; height: 100%;
  justify-content: space-around;
}

#checkout-form-card-no{
  width: 100%;
}

#checkout-form-card-info{
  width: 100%;
  justify-content: space-between;
}

#checkout-form-card-info input{

}

.card-no-part{
  width: 70px;
}

.card-exp{
  width: 35px !important;
}

#card-cvv{
  width: 50px !important;
}

#checkout-form-button{
  width: 20%; height: 10%;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.display-checkout-form{
 opacity: 1 !important;
 transform: translateY(100px) !important;
 transition: .7s all;
}

.input-container{
  position: relative;
}

input{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 2em;
}

.error-msg-container{
  position: relative;
  left: 0; top: -20px;
  display: block;
}

.error-msg{
  position: absolute;
  left: 0; top: -20px;
  width: 320px;
  display: block;
  color: red;
  font-size: 18px;
}

.hidden-error-msg{
  display: none;
}

#checkout-form-exit{
  position: absolute;
  top: 25px; left: 25px;
  width: 25px; height: 25px;
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 4px;
  color: white;
}
#checkout-form-exit:hover{
  border: 1px solid white;
}
