h3, h4, h6, p{
  color: rgba(255, 255, 255, 0.8);
}

body{
  background: #0E131A;
}

#main-row-container {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.disabled-tile{
  cursor: not-allowed !important;
  opacity: .5;
}

.tile-header-container{
  width: 100%;
  align-items: flex-start;
}

#tile-header {
  height: 10%;
  font-size: 2em;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  left: -2vw;
}

#item-grid-container {
  height: 100%;
  position: relative;
  left: -3vw;
  margin-top: 25px;
}


    .site-tile{
      background: #191F28;
      padding: 0 !important;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      cursor: pointer;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      margin-top: 25px !important;
      min-width: 420px;
    }
    .site-tile:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     }
        .site-tile-image{
          width: 100%;
        }

        .site-tile-image img{
          max-height: 320px;
        }

        .site-tile-description{
          padding: 0 15px !important;
        }
            .site-tile-description-header-container{
              /* justify-content: flex-start; */
              justify-content: space-between;
              margin-top: 10px;
            }
            .site-tile-description-title{
              font-size: 1.5em;
              margin-right: 10px;
            }
            .site-tile-description-price{
              font-size: 0.8em;
            }
            .site-tile-description-title-caption{
              font-size: 0.7em;
            }

@media only screen and (max-width : 1320px) {
    #item-grid-container {
      left: 0 !important;
    }

    .header-site-name:first-of-type{
      padding-left: 8%;
    }
}

@media only screen and (max-width : 1150px) {
  #item-grid-container {
    left: 0 !important;
  }
}

@media only screen and (max-width : 760px) {
  .site-tile{
    margin-right : 0 !important;
  }

  .header-site-name:first-of-type{
    padding-left: 0;
  }
}
