#planning-container{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

#planning{
  background: rgba(245,245,245,1);
  width: 70%;
  border-radius: 4px;
  overflow: auto;
}

#table-header{
  padding: 15px;
}

#large-header{
  justify-content: space-around;
}

.header-site-name{
  text-transform: uppercase;
  font-size: 1.1em;
  color: rgba(25,25,25,0.4);
}

.site-name-selected{
  color: black;
}

.unavailable{
  position: relative;
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.unavailable::before{
  position: absolute;
  top: 0; left: 0;
  padding: 0 5px;
  padding-top: 7%;
  width: 100%; height: 100%;
  content: 'Indisponible';
  z-index: 1;
  /* ellipsis requirements below */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mobile-header{
  display: none;
  text-align: center;
}

#show-rentals-checkbox-container{
  position: absolute;
  right: 0;
}

#show-rentals-checkbox{

}

#show-rentals-text{
  color: #212529;
  margin-right: 10px;
  margin-bottom: 0 !important;
}

.shadow-reserved{
  opacity: 0.5;
  /* background: #999 !important; */
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

tr{
  width: 100%;
}

td{
  border-left: 1px solid rgba(25,25,25,0.1);
  border-right: 1px solid rgba(25,25,25,0.1);
}

.header-row{
  text-align: center;
}

.header-row:nth-child(1){
  border-top: 1px solid rgba(25,25,25,0.1);
}

.header-row th:not(:nth-child(1)){
  border-left: 1px solid rgba(25,25,25,0.1);
}

.header-row:nth-child(2){
  border-bottom: 1px solid rgba(25,25,25,0.1);
  box-shadow: 0 3px 2px -2px rgba(25,25,25,0.1);
}

.time-row{
  width: 70px;
  border: 1px solid rgba(25,25,25,0.1);
  border-left: none;
  text-align: center;
}

.day-header{
  color: rgba(0, 0, 0, 0.3);
}

.date-header{
  font-size: 0.8em;
}

.planning-cell{
  height: 45px;
  width: 13%;
}

.disabled-cell{
  cursor: not-allowed;
  background: rgba(25,25,25,0.1);
}

.reserved-cell-container{
  width: 100%; height: 100%;
}

    .reserved-cell{
      display: block;
      height: 40px; width: 100%;
      margin: 0 2px; padding: 0 5px;
      border-radius: 4px;
      background: white;
      box-shadow: 0 3px 2px -2px rgba(25,25,25,0.1);
      cursor: pointer;
      z-index: 2;
      /* ellipsis requirements below */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

.red-border{
  border-left: solid 3px #f44336;
}

.yellow-border{
  border-left: solid 3px #FFEB3B;
}

.blue-border{
  border-left: solid 3px #2196F3;
}

.green-border{
  border-left: solid 3px #4CAF50;
}

.black-border{
  border-left: solid 3px #212121;
}

.purple-border{
  border-left: solid 3px #9C27B0;
}

.deep-purple-border{
  border-left: solid 3px #673AB7;
}

.pink-border{
  border-left: solid 3px #E91E63;
}

.indigo-border{
  border-left: solid 3px #3F51B5;
}

.light-blue-border{
  border-left: solid 3px #03A9F4;
}

.cyan-border{
  border-left: solid 3px #00BCD4;
}

.teal-border{
  border-left: solid 3px #009688;
}

.light-green-border{
  border-left: solid 3px #8BC34A;
}

.lime-border{
  border-left: solid 3px #CDDC39;
}

.amber-border{
  border-left: solid 3px #FFC107;
}

.orange-border{
  border-left: solid 3px #FF9800;
}

.deep-orange-border{
  border-left: solid 3px #FF5722;
}

.brown-border{
  border-left: solid 3px #795548;
}

.grey-border{
  border-left: solid 3px #9E9E9E;
}

.blue-grey-border{
  border-left: solid 3px #607D8B;
}

/*
.hardware{
  border-left: solid 3px #446ee4;
}

.room{
  border-left: solid 3px #c388da;
}
*/
.selected-cell{
  background: #5590dd;
}

#planning-tooltip{
  display: none;
  position: absolute;
  padding: 10px;
  border-radius: 4px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  opacity: 0;
  z-index: 3;
  transition: .2s all;
}

#planning-date-container{
  position: relative;
  margin-bottom: 10px;
  justify-content: flex-start;
}

#planning-date-change{
  font-weight: bold;
  margin-left: 5px;
}

#tooltip-button-container{
  padding-top: 5px;
}

#tooltip-button{
  width: 100%; height: 100%;
  background: #e73535;
  color: white;
  border-radius: 4px;
  padding: 2px 3px;
  cursor: pointer;
}

#ui-datepicker-div{
  background: rgba(255,255,255,0.9);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (max-width : 1150px) {
  #planning{
    width: 80%;
  }
}

@media only screen and (max-width : 768px) {
  #site-header-container{
    flex-wrap: wrap;
  }
}
