li{
    list-style: none;
}
i{
  margin-right: 10px;
}
#main-container{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    /*background: linear-gradient(#23074d, #cc5333);*/
    background: #0E131A;
    /*background: url("../../img/bg/deep-space.jpeg") no-repeat center;*/
    background-size: cover;
    overflow: hidden;
}
