body{
  background: black;
}
#main-container{
    position: relative;
    top: 0; left: 0;
    width: 100%;
    margin: 0; padding: 0;
    /*background: #0E131A;*/
    /*background: url("../../img/bg/deep-space.jpeg") no-repeat center;*/
    background-size: cover;
}
#top-background-container{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  background: linear-gradient(#2f2e48, #000);
  background-size: cover;
}
.coworking-card-container{
  position: relative;
  top: 0; left: 0;
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  margin-top: 150px;
}
.coworking-card-element{
  width: 100%;
}
.coworking-card-text-container{
  position: relative;
  width: 100%;
  /*background: #0E131A;*/
  border-radius: 4px;
  font-family: 'AkrobatLight', sans-serif;
  letter-spacing: 3px;
  color: rgba(255,255,255,0.8);
  text-shadow: 0px 3px 5px rgba(0,0,0,0.8);
}
    .coworking-text{
      width: 100%;
      padding: 25px;
      top: 0; left: 0;
      /*background :rgba(0,0,0,0.6);*/
      border-radius: 4px;
    }

    .coworking-title{
      text-transform: uppercase;
    }

    .coworking-description{
      width: 100%; height: 100%;
      top: 0; left: 0;
      margin: 0; padding: 0;
      font-family: 'AkrobatRegular', sans-serif;
      letter-spacing: 1px;
      font-size: 1.3em;
      font-weight: 500;
    }
